// CLASSIQUES
$black: #000;
$white: #fff;

$gray: #627175;
$gray-light: #b4b2c5;
$gray-dark: #55527c;
$gray-700: #686f79;
$gray-800: #485558;

$blue-light: #2cc9dc;
$blue-dark: #130f49;
// ICONS
$icon: #4d4d4d;
$icon-hover: #0a66c2;

// BUTTONS
$button-red: #ff216a;
$button-glow: #ff216a;

// HIGHLIGHTED

$highlighted-blue: #0cf0f5;

// BACKGROUNDS

$bg-blue: #edf5ff;
$bg-violet: #2b2451;
