$karla: "Karla", sans-serif;
$roboto-slab: "Roboto Slab", serif;
$PT-sans: "PT Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$open-sans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$nunito: "Nunito", sans-serif;
