// Font size

$font-multi: 1;

$font-10: 10px * $font-multi;
$font-12: 12px * $font-multi;
$font-14: 14px * $font-multi;
$font-16: 16px * $font-multi;
$font-18: 18px * $font-multi;
$font-20: 20px * $font-multi;
$font-22: 22px * $font-multi;
$font-24: 24px * $font-multi;
$font-25: 25px * $font-multi;
$font-26: 26px * $font-multi;
$font-30: 30px * $font-multi;
$font-34: 34px * $font-multi;
$font-36: 36px * $font-multi;
$font-40: 40px * $font-multi;
$font-42: 42px * $font-multi;
$font-44: 44px * $font-multi;
$font-47: 47px * $font-multi;
$font-50: 50px * $font-multi;
$font-60: 60px * $font-multi;
$font-70: 70px * $font-multi;
$font-80: 80px * $font-multi;
$font-100: 100px * $font-multi;
$font-150: 150px * $font-multi;

// Space

$px-multi: 1;

$px-0: 0px * $px-multi;
$px-1: 1px * $px-multi;
$px-2: 2px * $px-multi;
$px-3: 3px * $px-multi;
$px-4: 4px * $px-multi;
$px-5: 5px * $px-multi;
$px-6: 6px * $px-multi;
$px-7: 7px * $px-multi;
$px-8: 8px * $px-multi;
$px-9: 9px * $px-multi;
$px-10: 10px * $px-multi;
$px-11: 11px * $px-multi;
$px-12: 12px * $px-multi;
$px-13: 13px * $px-multi;
$px-14: 14px * $px-multi;
$px-15: 15px * $px-multi;
$px-16: 16px * $px-multi;
$px-17: 17px * $px-multi;
$px-18: 18px * $px-multi;
$px-19: 19px * $px-multi;
$px-20: 20px * $px-multi;
$px-21: 21px * $px-multi;
$px-22: 22px * $px-multi;
$px-23: 23px * $px-multi;
$px-24: 24px * $px-multi;
$px-25: 25px * $px-multi;
$px-26: 26px * $px-multi;
$px-27: 27px * $px-multi;
$px-28: 28px * $px-multi;
$px-29: 29px * $px-multi;
$px-30: 30px * $px-multi;
$px-31: 31px * $px-multi;
$px-32: 32px * $px-multi;
$px-33: 33px * $px-multi;
$px-34: 34px * $px-multi;
$px-35: 35px * $px-multi;
$px-36: 36px * $px-multi;
$px-37: 37px * $px-multi;
$px-38: 38px * $px-multi;
$px-39: 39px * $px-multi;
$px-40: 40px * $px-multi;
$px-41: 41px * $px-multi;
$px-42: 42px * $px-multi;
$px-43: 43px * $px-multi;
$px-44: 44px * $px-multi;
$px-45: 45px * $px-multi;
$px-46: 46px * $px-multi;
$px-47: 47px * $px-multi;
$px-48: 48px * $px-multi;
$px-49: 49px * $px-multi;
$px-50: 50px * $px-multi;
$px-51: 51px * $px-multi;
$px-52: 52px * $px-multi;
$px-53: 53px * $px-multi;
$px-54: 54px * $px-multi;
$px-55: 55px * $px-multi;
$px-70: 70px * $px-multi;
$px-80: 80px * $px-multi;
$px-95: 95px * $px-multi;
$px-100: 100px * $px-multi;
$px-150: 150px * $px-multi;
$px-160: 160px * $px-multi;
$px-200: 200px * $px-multi;
$px-250: 250px * $px-multi;
$px-300: 300px * $px-multi;
$px-350: 350px * $px-multi;
$px-370: 370px * $px-multi;
$px-400: 400px * $px-multi;
