@import "./utilities/font.module.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #ffffff;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    outline: none;
}
